.Tag {
  font-family: "Arial", "sans-serif";
  font-size: 0.875rem;
  margin-right: 17px;
  display: inline-block;
  position: relative;
  color: #0074c4 !important;
  margin-bottom: 25px;
}

.Tag:after {
  content: '·';
  display: inline-block;
  position: absolute;
  color: #006998 !important;
  right: -14px;
  bottom: 4px;
  font-size: 1.5625rem;
  line-height: 15px;
}

.Tag:hover {
  opacity: 0.8;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}