.hlp-marginRight-35 {
  margin-right: 35px;
}

.hlp-marginBottom-15 {
  margin-bottom: 15px !important;
}

main {
  padding-top: 20px;
  padding-bottom: 30px;
}

.w-100-mobile {
  width: 100% !important;
  margin-left: 0;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.--scrollUp {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@font-face {
  font-family: SuecaSlab;
  src: url('./fonts/sueca-slab-bold-web.woff.ttf') format('woff'),
  url('./fonts/sueca-slab-bold-web.woff.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.--btn {
  font-family: "Arial", "sans-serif";
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.--btn.--primary {
  background-color: #0074c4;
  border: 1px solid #0074c4;
  color: #ffffff;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.col-desksm-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.icon {
  font-style: normal;
  color: black;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 64em) {
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 80em) {
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}